<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<script>
		window.onload = function()
		{
			var agreementbutton = document.getElementById("agreement");
			var responsebutton = document.getElementById("response");

			agreementbutton.onclick = function(e)
			{
				e.preventDefault();
				window.parent.postMessage("AGREEMENT", '*');
			}

			responsebutton.onclick = function(e)
			{
				e.preventDefault();
				window.parent.postMessage("RESPONSE", '*');
			}

		}
	</script>
	<h1>Filho</h1>
	<button id="agreement">Dispatch agreement</button>
	<button id="response">Dispatch response</button>
</body>
</html>