<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<script>

		window.addEventListener('message', function(e) {
			switch(e.data)
			{
				case 'AGREEMENT':

					alert('AGREEMENT');

				break;

				case 'RESPONSE':

					alert('RESPONSE');

				break;
			}
		});	
		
	</script>
	<h1>Pai</h1>
	<iframe id="iframe" src="https://cwi-filho.herokuapp.com/">
</body>
</html>